<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MonkeyLand - Animal info</title>
    <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="../images/MonkeyLandLogo.png" height="130" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Animals</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">View Enclosures</a>
            </li>
        </ul>
        <div class="mav-item">
            <div class="container" style="position: relative">
                <button class="btn custom-btn" type="button">
                    <img src="../images/loginIcon.png" height="30" class="d-inline-block align-top" alt="" style="opacity: 0.6">
                    Login/Register
                </button>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4 custom-animal-img">
                </div>
                <div class="col-md-8 green-custom-box animal-custom-box align-self-md-center mx-auto">
                    <div class="animal-name-custom-box mx-auto">
                        <div class="row">
                            <div class="col-md-8">
                                <p style="text-align: left; font-size: 40px;color: white; margin-left: 100px;">Filipa
                            </div>
                            <input class="col-md-3 btn btn-edit-animal-custom" type="submit" value="Edit Animal" style="height: 50px; margin-top: 25px;">
                        </div>
                        <div class="row">
                            <p style="text-align: left; font-size: 24px;color: white; height: 24px">Birth date: 07/06/2012
                        </div>
                        <div class="row">
                            <p style="text-align: left; font-size: 24px;color: white;  height: 24px">Sex: Female
                        </div>
                        <div class="row">
                            <p style="text-align: left; font-size: 24px;color: white; height: 24px">Enclosure: 001 - Hill
                        </div>
                        <div class="row">
                            <p style="text-align: left; font-size: 24px;color: white; height: 24px">Adopted by: None!
                        </div>
                        <hr style="height:2px; margin-top:30px; margin-left: auto;margin-right: auto; background-color: black; opacity: 0.5">
                        <div class="row">
                            <p style="text-align: left; font-size: 24px;color: white; height: 0px; line-height: 25px">Species: Giraffe (Giraffa camelopardalis)
                        </div>
                        <div class="row">
                            <p style="font-size: 24px;color: white; height: 24px; text-align: center">General info: <span style="line-height: 24px; height: 10px; font-size: 18px; display: flex">Mammal, herviborous, These animals are native to central
                                    Africa. They can measure up to 5.8 meters, being the tallest among all the mammals in the earth!</span>
                            </p>
                        </div>
                        <div class="row">
                            <p style="line-height: 335px; margin-left: 340px">
                                <input class="btn btn-list-custom" type="submit" value="Adopt this Animal!" style="height: 50px;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<footer class="custom-footer">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Faq</a>
            <a href="mailto:m307624@alunos.ipb.pt">Contact</a>
        </p>

        <p>MonkeyLand S.A &copy; 2022</p>
    </div>
</footer>

</body>
</html>