<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MonkeyLand - Home</title>
    <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">
            <img src="../images/MonkeyLandLogo.png" height="130" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Animals</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">View Enclosures</a>
                </li>
            </ul>
            <li class="mav-item">
                <div class="container" style="position: relative">
                    <button class="btn custom-btn" type="button">
                        <img src="../images/loginIcon.png" height="30" class="d-inline-block align-top" alt="" style="opacity: 0.6">
                        Login/Register
                    </button>
                </div>
            </li>
        </div>
    </nav>
</body>
</html>