<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MonkeyLand - Home</title>
    <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="../images/MonkeyLandLogo.png" height="130" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Our Animals</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">View Enclosures</a>
            </li>
        </ul>
        <div class="mav-item">
            <div class="container" style="position: relative">
                <button class="btn custom-btn" type="button">
                    <img src="../images/loginIcon.png" height="30" class="d-inline-block align-top" alt="" style="opacity: 0.6">
                    Login/Register
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div class="login-big-custom-box">
        <div class="login-green-custom-box">
            <p style="text-align: center; font-size: 40px;color: white; margin-top: 35px;">Login</p>
        </div>
        <div class="login-grey-custom-box">
            <form>
                <table style="width: 450px; margin-top: 50px">

                    <tr>
                        <td style="height: 50px; text-align:center; margin-right: 30px">User: </td>
                        <td style="height: 50px; text-align:center"><input type="text" name="user" value="user" placeholder="RaulHernandez" style="height: 50px;" ></td>
                    </tr>
                    <tr>
                        <td style="height: 50px; text-align:center">Password: </td>
                        <td style="height: 50px; text-align:center"><input type="text" name="user" value="user" placeholder="RaulHernandez" style="height: 50px;" ></td>
                    </tr>
                </table>
                <p style="height: 50px;text-align: center"><input class="btn btn-login-custom" type="submit" value="Enviar datos" style="height: 50px;"></p>
            </form>
        </div>
    </div>
</div>


<footer class="custom-footer">
    <div class="footer-right">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
    </div>

    <div class="footer-left">
        <p class="footer-links">
            <a class="link-1" href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Faq</a>
            <a href="mailto:m307624@alunos.ipb.pt">Contact</a>
        </p>

        <p>MonkeyLand S.A &copy; 2022</p>
    </div>
</footer>

</body>
</html>